In [ ]:
pip install xlrd
pip install openpyxl
pip install pandas
pip install pymysql

import pandas as pd
import pymysql
from sqlalchemy import create_engine
import pymysql

In [ ]:
file_name='movieList.xls'
df = pd.read_excel(file_name)
df

In [ ]:
# 영화db생성
db = pymysql.connect(host='127.0.0.1', user='root', password='1234')
cursor = db.cursor()

try:
    cursor.execute('create database Movie_DB;')
    db.commit()
    db.close()
    print('has been created')
except:
    print('Database already exsist!')

In [ ]:
# sqlalchemy를 사용해 원하는 database에 csv파일 저장

try:
    engine = create_engine("mysql+pymysql://root:"+"1234"+
                           "@127.0.0.1:3306/Movie_DB?charset=utf8")
    conn = engine.connect()
    df.to_sql(name = "영화", con = engine, index = False)
    conn.close()
    
except ValueError:
    print('Table already exists!')

In [ ]:
#db 및 테이블연동

db = pymysql.connect(user='root', password='1234', host='127.0.0.1', db='Movie_DB', cursorclass=pymysql.cursors.DictCursor)

cursor = db.cursor()

query = "select * from movie_db.영화"
cursor.execute(query)
db_export = cursor.fetchall()

In [ ]:
# dataframe 입력 (불러오)
db_result_df=pd.DataFrame(db_export)
db_result_df

In [ ]:
# 감독 DB생성
db = pymysql.connect(host='112.161.7.178', user='hj', password='1234')
cursor = db.cursor()

# csv파일 불러오기
df = pd.read_csv(r"C:\Users\y9409\Desktop\MultiProject\ProjectCode\director.csv", encoding="cp949")

# sqlalchemy를 사용해 원하는 database에 csv파일 저장
try:
    engine = create_engine("mysql+pymysql://hj:1234@112.161.7.178/movie_db?charset=utf8mb4")
    conn = engine.connect()
    df.to_sql(name = "감독", con = engine, index = False)
    conn.close()
    
except ValueError:
    print('Table already exists!')

In [ ]:
# 배우 DB생성
# 테이블 생성, 데이터 import
db = pymysql.connect(host='112.161.7.178', user='hj', password='1234')
cursor = db.cursor()

# csv파일 불러오기
df = pd.read_csv(r"C:\Users\y9409\Desktop\MultiProject\ProjectCode\actor.csv", encoding="cp949")

# sqlalchemy를 사용해 원하는 database에 csv파일 저장
try:
    engine = create_engine("mysql+pymysql://hj:1234@112.161.7.178/movie_db?charset=utf8mb4")
    conn = engine.connect()
    df.to_sql(name = "배우", con = engine, index = False)
    conn.close()
    
except ValueError:
    print('Table already exists!')